

    <div class="text-center">
        <h1>@ViewBag.st.Name</h1>
        <h4>Email:@ViewBag.st.Email</h4>
        <img src="~/attach/@ViewBag.st.Photo" width="200" height="200" />
        <h4>age:@ViewBag.st.age</h4>
        <h4>address:@ViewBag.st.Address</h4>
        <h4>department:@ViewBag.st.department.Name</h4>

    </div>
